body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(156, 202, 247);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Full viewport height */
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 1px; /* Reduced padding */
  text-align: center;
  position: fixed; /* Fixed position */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures header is above other content */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 10px 10px; /* Add padding to account for fixed header */
}

footer {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  text-align: center;
  position: fixed; /* Fixed position */
  width: 100%;
  bottom: 0;
  left: 0;
}
