.staff-form {
  max-width: 800px;  /* Narrower width for a more compact form */
  margin: 10px auto; /* Centered with some margin around it */
  padding: 10px;     /* Reduced padding for a more compact look */
  border-radius: 8px;
  box-shadow: 0 10px 18px rgba(66, 24, 183, 0.1);
  background-color: #b992f5;
}

.staff-form h2 {
  margin-bottom: 10px; /* Slightly larger margin below heading */
  font-size: 20px;     /* Reduced font size for compactness */
  text-align: center;
}

.form-group {
  margin-bottom: 10px; /* Reduced margin for tighter spacing */
}

.form-group input {
  width: 90%;        /* Full width of the form container */
  padding: 8px;      /* Reduced padding inside input fields */
  border-radius: 4px; /* Smaller border-radius for a tighter look */
  border: 1px solid #ccc;
  font-size: 14px;   /* Smaller font size for compactness */
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

button {
  width: 100%;        /* Full width of the form container */
  padding: 8px;      /* Reduced padding inside button */
  border-radius: 4px; /* Smaller border-radius for a tighter look */
  border: none;
  background-color: #11569f;
  color: white;
  font-size: 14px;   /* Smaller font size for compactness */
  cursor: pointer;
}

button:hover {
  background-color: #4d05a5;
}
